<template>
  <section v-if="current_step.show">
    <p class="lvds-paragraph">The Dark Side of the Moon. Back in Black. Sgt. Pepper's Lonely Hearts Club Band. If an album is great, it's name is something that is remembered alongside the unforgettable songs found on it. Make sure you choose something great!</p>
  </section>
</template>

<script>
    import lv_functions from '../mixins/lv-functions.js';

    export default {
        name: 'hint-album-name',
        props: [],
        mixins: [lv_functions],
        components: {
        },
        data: () => {
            return {}
        },
        computed: {
            current_step() {
                return this.$store.state.display.step_album_name;
            },
        },
        methods: {

        },
    };
</script>
