<template>
  <section v-if="current_step.show">
    <p class="lvds-paragraph">It is important that you own the music you are adding to this vinyl. Lyfe Vinyl assumes you own each track, and thus you are held liable in case of any legal action made by the artist or their representatives.</p>
  </section>
</template>

<script>
    import lv_functions from '../mixins/lv-functions.js';

    export default {
        name: 'hint-album-name',
        props: [],
        mixins: [lv_functions],
        components: {
        },
        data: () => {
            return {}
        },
        computed: {
            current_step() {
                return this.$store.state.display.step_songs;
            },
        },
        methods: {

        },
    };
</script>
