<template>
  <section v-if="current_step.show">
    <p class="lvds-paragraph">Double check all of the information you provided. And again, please, please, please make sure you own the music and the album artwork files. We're just trying to look out for you, fam. Input something incorrecly? Simply hit the edit button to edit the info on that step.</p>
  </section>
</template>

<script>
    import lv_functions from '../mixins/lv-functions.js';

    export default {
        name: 'hint-album-name',
        props: [],
        mixins: [lv_functions],
        components: {
        },
        data: () => {
            return {}
        },
        computed: {
            current_step() {
                return this.$store.state.display.step_preview;
            },
        },
        methods: {

        },
    };
</script>
