<template>
  <section v-if="current_step.show">
    <p class="lvds-paragraph">Please allow 1-2 weeks for a glorious package to descend upon the mat outside your door. You will open it and be changed forever as you cry sweet, sweet tears of joy after seeing the beauty you created spin on your turntable.</p>
  </section>
</template>

<script>
    import lv_functions from '../mixins/lv-functions.js';

    export default {
        name: 'hint-album-name',
        props: [],
        mixins: [lv_functions],
        components: {
        },
        data: () => {
            return {}
        },
        computed: {
            current_step() {
                return this.$store.state.display.step_shipping;
            },
        },
        methods: {

        },
    };
</script>
