<template>
  <section v-if="current_step.show">
    <p class="lvds-paragraph">The image you upload should be a square and have a width/height of at least 1,000px. You must also own the rights to whatever image you decide to use as the album artwork. You will be held liable for said image. An image designed by Lyfe Vinyl with your track list will be used as the back cover image, so you need only provide a front cover image.</p>
  </section>
</template>

<script>
    import lv_functions from '../mixins/lv-functions.js';

    export default {
        name: 'hint-album-name',
        props: [],
        mixins: [lv_functions],
        components: {
        },
        data: () => {
            return {}
        },
        computed: {
            current_step() {
                return this.$store.state.display.step_covers;
            },
        },
        methods: {

        },
    };
</script>
