<template>
    <form action="">            
        <button 
            id="buyVinyl" 
            class="lvds-button lvds-button--blue-light" 
            type="submit" 
            @click.prevent="buy()"
        >
            Submit
        </button>
    </form>
</template>

<script>
    import lv_functions from '../mixins/lv-functions.js';
    export default {
        mixins: [lv_functions],
        data: () => {
            return {
                companyName: 'Lyfe Vinyl',
                description: '', //  use vinyl title
                zipCode: true,
                amount: 20000,
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            }
        },
        computed: {
            stripeEmail: {
                get() {
                    return this.$store.state.shipping.email;
                },
                set(email) {
                    this.$store.commit('setEmail', email);
                }
            },
            stripeToken: {
                get() {
                    return this.$store.state.payment.stripeToken;
                },
                set(token) {
                    this.$store.commit('setStripeToken', token);
                }
            },
            title() {
                return this.$store.state.vinyl.name;
            },
            frontcover() {
                return this.$store.state.vinyl.front_cover_path;
            },
            vinyl() {
                return {
                    step: this.$store.state.display.current_step,
                    data: {
                        order_id: this.$store.state.vinyl.order_id,
                        title: this.title,
                        frontcover: this.$store.state.vinyl.front_cover_path,
                        sides: this.$store.state.vinyl.sides,
                        shipping: this.$store.state.shipping,
                        payment: this.$store.state.payment,
                        status: this.$store.state.order.status
                    }
                };
            }
        },
        methods: {
            buy() {
                this.stripe.open({
                    name: this.companyName,
                    description: this.title,
                    email: this.stripeEmail,
                    amount: this.amount,
                    zipCode: true
                })
            }
        },
        created() {
            this.stripe = StripeCheckout.configure({
                key: this.stripeToken,
                image: "imgs/icon.png",
                locale: "auto",
                token: (token) => {
                    this.stripeToken = token.id;
                    this.stripeEmail = token.email;

                    console.log('payment token returned');

                    //  save and complete order
                    axios.post('/order/save', this.vinyl)
                        .then((response) => {
                            console.log(response.data);

                            swal({
                                title: "You did it!",
                                html: "You'll receive an email with your order summary soon.",
                                type: "success"
                            });
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            });
        }
    };
</script>