<template>
  <section v-if="current_step.show" key="preview">
    <headline :heading="current_step.headline" :subhead="current_step.subhead"></headline>
    <!-- ALBUM NAME -->
    <div class="row margin-bottom-15">
      <div class="col-md-12">
        <p class="lvds-headline--secondary"><strong>Vinyl Name</strong> <span @click="edit_step(0)" class="lvds-button--text-only">(Edit)</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lvds-para">{{ name }}</p>
      </div>
    </div>
    
    <!-- SONGS -->
    <div class="row margin-top-50">
      <div class="col-md-12 margin-bottom-15">
        <p class="lvds-headline--secondary"><strong>Tracks</strong> <span @click="edit_step(1)" class="lvds-button--text-only">(Edit)</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <p class="lvds-headline--tertiary">Side A</p>
            <div class="row" v-for="song in sideA">
              <div class="col-md-12">
                <p v-if="song" class="lvds-para">{{ song.track }}. {{ song.name }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p class="lvds-headline--tertiary">Side B</p>
            <div class="row" v-for="song in sideB">
              <div class="col-md-12">
                <p v-if="song" class="lvds-para">{{ song.track }}. {{ song.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- COVERS -->
    <div class="row margin-top-50">
      <div class="col-md-12">
        <p class="lvds-headline--secondary"><strong>Album Covers</strong> <span @click="edit_step(2)" class="lvds-button--text-only">(Edit)</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <img v-if="!front_cover_path" class="cover-image" src="http://placehold.it/250x250">
            <img v-if="front_cover_path" class="cover-image" :src="front_cover_path">
          </div>
          <div class="col-md-6 margin-top-30--small">
            <img src="http://placehold.it/250x250">
          </div>
        </div>
      </div>
    </div>

    <!-- SHIPPING -->
    <div class="row margin-top-50">
      <div class="col-md-12">
          <p class="lvds-headline--secondary"><strong>Shipping Address</strong> <span @click="edit_step(3)" class="lvds-button--text-only">(Edit)</span></p>
          <p>Name: {{ shipping.firstName }} {{ shipping.lastName }}</p>
          <p>Email: {{ shipping.email }}</p>
          <p>Street Address: {{ shipping.addressLineOne }}</p>
          <p v-if="shipping.addressLineTwo">Street Address (Line 2): {{ shipping.addressLineTwo }}</p>
          <p>City: {{ shipping.addressCity }}</p>
          <p>State: {{ shipping.addressState }}</p>
          <p>Zip: {{ shipping.addressZip }}</p>
          <p>Country: {{ shipping.addressCountry }}</p>
      </div>
    </div>
    <back-submit-btns></back-submit-btns>
  </section>

</template>

<script>
    import Headline from './Headline';
    import StepSubmitButtons from './StepSubmitButtons';
    import lv_functions from '../mixins/lv-functions.js';

    export default {
        name: 'preview',
        props: [],
        mixins: [lv_functions],
        components: {
            'headline': Headline,
            'back-submit-btns': StepSubmitButtons
        },
        data: () => {
            return {}
        },
        computed: {
            current_step() {
                return this.$store.state.display.step_preview;
            },
            name() {
                return this.$store.state.vinyl.name;
            },
            front_cover_path() {
                return this.$store.state.vinyl.front_cover_path;
            },
            sideA() {
                return this.$store.getters.sides.filter((song)=>{
                  return song.side == 'a'
                });
            },
            sideB() {
              return this.$store.getters.sides.filter((song)=>{
                return song.side == 'b'
              });
            },
            shipping() {
              return this.$store.state.shipping;
            },
        },
        methods: {
          edit_step(step_index) {
            var display_data = this.$store.state.display;
            let prefix = 'step_';
            let current_step = display_data.current_step;
            var index = display_data.steps.indexOf(current_step);
            if (index > 0) {
                console.log(step_index);
                var edit_step = display_data.steps[step_index];
                display_data[prefix + edit_step].show = true;
                display_data[prefix + current_step].show = false;

                display_data.current_step = edit_step;
            }
            window.scrollTo(0, 0)
          },
        },
    };
</script>
