<template>
  <div class="row">
    <div class="col-md-8">
        <album-name></album-name>
        <songs></songs>
        <covers></covers>
        <shipping></shipping>
        <preview></preview>
    </div>
    <div class="col-md-4 margin-top-30 margin-bottom-50--medium-up">
        <div class="lvds-info-box">
          <h4 class="lvds-info-box--headline"><i class="material-icons">info</i> Helpful Hints</h4>
          <hint-album-name></hint-album-name>
          <hint-songs></hint-songs>
          <hint-covers></hint-covers>
          <hint-shipping></hint-shipping>
          <hint-preview></hint-preview>
        </div>
      </div>
  </div>
</template>

<script>
    import AlbumName from './AlbumName.vue';
    import HintAlbumName from './HintAlbumName.vue';
    import Songs from './Songs.vue';
    import HintSongs from './HintSongs.vue';
    import Covers from './Covers.vue';
    import HintCovers from './HintCovers.vue';
    import Shipping from './Shipping.vue';
    import HintShipping from './HintShipping.vue';
    import Preview from './Preview.vue';
    import HintPreview from './HintPreview.vue';

    export default {
        props: [
            'customer_id',
            'order',
            'is_logged_in',
            'stripe_token'
        ],
        data: function() {
            return {
                data: {

                }
            }
        },
        components: {
            'album-name': AlbumName,
            'hint-album-name': HintAlbumName,
            'songs': Songs,
            'hint-songs': HintSongs,
            'covers': Covers,
            'hint-covers': HintCovers,
            'shipping': Shipping,
            'hint-shipping': HintShipping,
            'preview': Preview,
            'hint-preview': HintPreview,
        },
        methods: {

        },
        mounted: function() {
            this.$store.commit('setCustomerId', this.customer_id);
            this.$store.commit('setStripeToken', this.stripe_token);

            // setTimeout(() => {
            //   this.loading = false;
            // },6000);

            if (this.order) {
                let self = this;

                swal({
                    title: 'Previous Order Found',
                    text: "Would you like to load in the order?",
                    imageUrl: 'imgs/icon.png',
                    imageWidth: 75,
                    imageHeight: 75,
                    showCancelButton: true,
                    confirmButtonColor: '#00a0ff',
                    cancelButtonColor: '#BBC2C8',
                    confirmButtonText: 'Yes, load it!',
                    cancelButtonText: 'No, start fresh.',
                    buttonsStyling: true
                }).then(function() {
                    //  load in order
                    axios.post('/order/load', {
                            'order_id': self.order
                        })
                        .then((response) => {
                            console.log(response.data);
                            //  general data
                            self.$store.commit('setOrderId', self.order);
                            self.$store.commit('setName', response.data.title);
                            self.$store.commit('setFrontCoverPath', response.data.front_cover_path);
                            self.$store.commit('setSongs', response.data.sides);
                            //  shipping data
                            self.$store.commit('setFirstName', response.data.shipping.firstName);
                            self.$store.commit('setLastName', response.data.shipping.lastName);
                            self.$store.commit('setEmail', response.data.shipping.email);
                            self.$store.commit('setAddressOne', response.data.shipping.addressLineOne);
                            self.$store.commit('setAddressTwo', response.data.shipping.addressLineTwo);
                            self.$store.commit('setCity', response.data.shipping.addressCity);
                            self.$store.commit('setState', response.data.shipping.addressState);
                            self.$store.commit('setZip', response.data.shipping.addressZip);
                            self.$store.commit('setCountry', response.data.shipping.addressCountry);
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }, function(dismiss) {
                    //  start fresh
                    axios.post('/file/clearSession')
                        .then((response) => {
                            console.log('cleared session');
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                })
            }
        },
    };
</script>