// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html {
    height: 100%;
    @media (max-width: $screen-md) {
        font-size: 12px;
    }
    @media (min-width: $screen-lg) {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: 16px;
    font-family: $source_sans;
}

.col-center {
    float: none;
    margin: 0 auto;
}

.lvds-para {
    font-size: $para-default;
    font-family: $yrsa;
    margin-bottom: $para-marg-bottom-default;
}

[v-cloak] {
    display: none;
}
