.vue-dropzone {

}

.vue-dropzone--covers {
  height: 250px;
  width: 250px;
  border: 2px solid $darkgray !important;
  font-family: $source_sans !important;
  color: $darkgray !important;
  background-color: $gray-light !important;
  border-radius: 5px;

    &:hover {
      border-color: $blue-light !important;
      color: $blue-light !important;

      i {
        color: $blue-light !important;
      }
    }

    i {
      color: $darkgray !important;
    }
    .dz-message {
      padding: 20px;
      margin: 2.3em 0 2em !important;
    }
    .dz-preview {
      margin: -22px !important;
    }
    .dz-image {
      border-radius: 5px !important;
    }
}

.vue-dropzone--songs {
  border: 2px solid $darkgray !important;
  font-family: $source_sans !important;
  color: $darkgray !important;
  background-color: $gray-light !important;
  border-radius: 5px;
  min-height: 350px !important;

  .dz-message {
    margin: 110px 0 !important;
  }

  i {
    color: $darkgray !important;
  }

  &:hover {
    border-color: $blue-light !important;
    color: $blue-light !important;

    i {
      color: $blue-light !important;
    }
  }
}
