.lvds-form__label {
    color: $pink;
    font-size: $headline-tertiary;
    font-weight: 700;
    float: left;
    margin-bottom: $spacing-small;

    // @media (max-width: $screen-sm) {
    //   font-size:
    // }

}

.lvds-form__text-input {
    border: 2px solid $darkgray;
    background-color: $gray-light;
    color: $darkgray;
    padding: 10px;
    font-weight: 300;
    width: 100%;
    border-radius: 5px;
    font-size: $headline-tertiary;
    &:focus {
        outline-color: $blue-light;
    }
    &::-webkit-input-placeholder {
        color: $blue-light;
        opacity: 0.5;
    }
    &.lvds-form__textarea-input {
        height: 150px;
        overflow-y: scroll;
    }
}

.lvds-form__radio {
    display: inline;
}

.lvds-form__buttons {
    margin-top: 50px;
}

.lvds-form__button {
    margin: 0px 0px 0px 10px;
    padding: 10px 35px;

    &:hover {
      cursor: pointer;
    }

}

.glyphicon {
  margin-right: 5px;
}

.lvds-form__label-button-group {
    display: block;
    margin: 20px 0px;
}

.image-upload input[type="file"] {
    display: none;
}

.song-upload input[type="file"] {
    display: none;
}

.cover-image {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

select {
 overflow: hidden;
 background: url(imgs/down-arrow.svg) no-repeat right #ddd;
 -webkit-appearance: none;
 -moz-appearance: none;
 -ms-appearance: none;
 cursor: pointer;
}
