.lvds-icons__3blocks {
  height: 125px;
  width: auto;
}

.lvds-icons__3blocks--small {
  height: 25px;
  width: auto;
  margin: 10px;
}

.lvds-img--circle {
  height: 150px;
  width: auto;
  margin-bottom: 15px;
}
