.lvds-info-box {
    background-color: $gray-light;
    padding: $spacing-large;
    margin-left: $spacing-large;
    border: thin solid $gray-medium;
    border-radius: 5px;

    @media (max-width: $screen-sm) {
        margin-left: 0;
    }

    .lvds-info-box--headline {
        color: $pink;
        font-size: $headline-tertiary;
        font-weight: 600;
        text-transform: uppercase;
    }

    i {
        display: inline-block;
        vertical-align: middle;
    }
    
    .lvds-info-box--paragraph {
        font-family: $yrsa;
        line-height: 1.3;
    }

}