.lvds-app__side-nav {
    min-height: 100%;
    width: auto;
    background-color: $white;
    color: $blue-dark;
    border-right: 2px solid $gray-dark;
    padding: $spacing-medium $spacing-medium $spacing-medium $spacing-large;
    margin-top: 125px;
}